@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    /* ## Colors */
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
}

.background {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 1;
    background: url(./images/pattern-bg-desktop.png) no-repeat;
    background-position: top center;
    background-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.container h1 {
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
    padding: 2rem 0;
}

.container input[type=text] {
    cursor: pointer;
    width: 35rem;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: var(--very-dark-gray);
}

.container input[type=text]:focus {
    outline: none;
}

.container button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: black;
    padding: 1.05rem;
    border-radius: 0 1rem 1rem 0;
    margin-left: -0.15rem;
}

.container button:hover {
    transition: .2s ease-out;
    background-color: var(--very-dark-gray);
}

.results {
    margin-top: 9rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px -20px var(--dark-gray);
}

.result-item h2 {
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: var(--dark-gray);
    padding-bottom: 0.5rem;
}

.result-item p {
    font-weight: 500;
    font-size: 1.5rem;
}

.divider {
    margin-top: 0.5rem;
    width: 2px;
    height: 4rem;
    background-color: var(--dark-gray);
}

footer {
    position: absolute;
    bottom: 1rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 750px) {

    .background {
        background: url(./images/pattern-bg-mobile.png) no-repeat;
        background-position: top center;
        background-size: 100%;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container input[type=text] {
        width: 15rem;
    }

    .results {
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }
    
    .result-item h2 {
        font-weight: 700;
        font-size: 0.65rem;
        text-align: center;
    }
    
    .result-item p {
        text-align: center;
        font-size: 1.65rem;
    }
    
    .divider {
        display: none;
    }

    footer {
        position: absolute;
        bottom: 0.5rem;
    }

}